.body{
    background-color:#062863;
    background-image: url(top-left.png),url(top-right.png),url(bottom-left.png),url(bottom-right.png);
    background-repeat: no-repeat;
    background-position:left -1% top -8%,
     right -10% top -2%, 
     left -6% bottom -10%, 
     right -8% bottom -7%;
     background-size: 18%;

}

.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:14%;
    height: 10%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175vh;
    font-family: monospace;
}
h1 { 
    color: #083e9e;
    display: block;
    font-size: 24px;
    text-align: center;
    font-family: U8, sans-serif;
    border: 0px sold white;
    margin: 30px 40px 0px 40px;
    font-style: initial;
}
p{color:rgb(116, 112, 112);
    text-align: center;
    font-size:14px;
    border: 0px solid white;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
}
.form{
    color:white;
    background-color: white;
  }
  p.class{
      text-align: left;
      color: rgb(58, 54, 54);
      margin: 30px;
      font-family: 'Times New Roman', Times, serif;
      font-size:15px;
 }
input{
    width: 90%;
    padding: 21px 21px;
    display: inline-block;
    background:rgb(213, 219, 219); 
    color: rgb(46, 44, 44);
    border: none;
    border-radius: 4px;
    text-align: left;
    font-size: 100%;
}
select{
    width: 88%;
    padding: 20px 20px;
    display: inline-block;
    background-color: rgb(213, 219, 219);
    color: rgb(116, 112, 112);
    border: none;
    border-radius: 6px 6px 6px 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
    margin: -25px 30px 30px 30px;
}
a{
    width: 78%;
    padding: 20px 20px;
    display: inline-block;
    background-color: #083e9e;
    color: white;
    border: none;
    border-radius: 6px 6px 6px 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 98%;
    margin: 30px;
    text-decoration: none;
    
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    width: 29vw;
    background-color: white;
    border-radius: 20px 20px 20px 0px;
    padding: 10px;

}
.login{
    color:white;
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    border:none;
    background-color: rgba(0,0,0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 165%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:20%;
    height: 10%;
    
    
}